   /*
    font-family: 'Righteous', cursive;
    font-family: 'Roboto', sans-serif;
   */
body{
    background-color: #E5E5E5;
    height: auto;
}
.top {
    height: 92px;
    width: 100%;
    background-color: #cf2b2b;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-left: 21px;
}
.top h1{
    font-size: 44px;
    font-family: 'Righteous', cursive;
    color: #fff;
    margin-top: 10px;
}
.top h2{
    font-size: 18px;
    margin-top: 5px;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}




.food{
    margin-left: 21px;
}
.title{
    font-size: 32px;
    font-family: 'Righteous', cursive;
    margin-top: 122px;
    font-weight: 400;
}
.boxes{
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 15px;
    overflow-x: scroll;
}
.ebox{
    width: 172px;
    min-width: 172px;
    min-height: 216px;
    height: 216px;
    border-radius: 9px;
    margin: 0 8px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    border: 4px solid #FFF;
}
.ebox:first-child{
    width: 172px;
    min-width: 172px;
    height: 216px;
    border-radius: 9px;
    margin: 0px;
    margin-right: 8px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.30);
}
.imgsize{
    width: 144px;
    height: 87px;
    margin-top: 18px;
    border-radius: 4px;
}
.boxes h1{
    text-align:start;
    margin: 8px 0px 4px 15px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #333;
}
.boxes h2{
    text-align:start;
    margin: 10px 0px 0px 15px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #A6A6A6;
}
.boxes h3{
    text-align:start;
    margin: 8px 0px 5px 15px;  
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #000;
}
.boxes2 h1{
    height: auto;
    text-align:start;
    margin: 8px 0px 4px 15px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #333;
}
.boxes2 h2{
    text-align:start;
    margin: 10px 0px 0px 15px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #A6A6A6;
}
.boxes2 h3{
    text-align:start;
    margin: 8px 0px 5px 15px;  
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #000;
}







.drinks{
    margin-left: 21px;
}
.title2{
    font-size: 32px;
    font-family: 'Righteous', cursive;
    margin-top: 35px;
    font-weight: 400;
}







.extra{
    margin-left: 21px;
}
.boxes2{
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 15px;
    overflow-x: scroll;
    margin-bottom: 130px;
}




.bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92px;
    width: 100%;
    background-color: #fff;
    bottom: 0;
    position: fixed;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.button{
    display: flex;
    width: 85%;
    height: 61px;
    background-color: #CBCBCB;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}
.button h1{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    color: #fff;
}


.border{
    border: 4px solid #32B72F;
}
.ebox ion-icon{
    display: none;
}
.close{
    background-color: #32B72F ;
}